
<style>
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05)
}

.panel-body {
    padding: 15px
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: -1;
    border-top-left-radius: -1;
    background: #33cd5f;
    color:#ffffff
}

.panel-success {
    border-color: #33cd5f
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit
}
</style>

<link rel="stylesheet" href="assets/css/style.css">



 <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Car Brokers United</h3>
                </div>
                <div class="panel-body">
                   <p>Sorry, link has been expired</p>

                </div>
            </div>