<link href='http://fonts.googleapis.com/css?family=Hind:400,500,300,600,700' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="assets/bootstrap/dist/css/bootstrap.min.css" type="text/css"/>

<link rel="stylesheet" href="assets/styles/app.css" type="text/css"/>



<body>

<div class="dark bg-auto w-full">
    <div class="fade-in-right-big smooth pos-rlt">

        <div class="center-block w-xxl w-auto-xs p-y-md">

            <div class="navbar">
                <div class="pull-center">
                   <a class="navbar-brand">
                        <div ui-include="'../assets/images/logo.svg'"></div>
                        <img src="../assets/images/logo.png" alt="." class="hide">
                        <span class="hidden-folded inline">ZehnCA</span>
                    </a>
                </div>
            </div>
            <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
                <div class="m-b text-sm">
                    Reset
                    Password
                </div>
                <!-- BEGIN REGISTRATION FORM -->
                <form name="form" action="/reset-password?access_token=<%= accessToken %>" method="post">

                    <div class="md-form-group">
                        <input class="md-input" type="password" minlength="8" required
                               title="Password must contain: Minimum 8 Characters" autocomplete="off"
                                name="password"/>

                        <label>New Password</label>
                    </div>
                    <div class="md-form-group">


                        <input class="md-input" type="password" autocomplete="off" required
                                name="confirmation"/>
                        <label>Confirm Password</label>
                    </div>


                    <button type="submit" id="register-submit-btn" class="btn primary btn-block p-x-md">
                        Reset
                    </button>

                </form>
                <!-- END REGISTRATION FORM -->
            </div>

            <div class="copyright">
                2015 &copy; Zehntech Technologies. All right reserved
            </div>
        </div>
    </div>
</div>

</body>




