<div class="dropdown-menu dropdown-menu-scale pull-down p-a text-color text-primary-hover"
     style="width: 50%; margin-left: 13%">
    <div class="row">
        <div class="col-sm-4">
            <div class="_600 text-u-c m-y-sm">Instances</div>
            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav l-h-2x">
                        <li>
                            <a href="" ui-sref="app.instance"><span>Manage Instance</span></a>
                        </li>
                        <li>
                            <a href="" ui-sref="app.reinstance"><span>Reserved Instance</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="_600 text-u-c m-y-sm">Elastic Block Store</div>
            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav l-h-2x">
                        <li>
                            <a href="" ui-sref="app.volume">
                                <span>Volumes</span>
                            </a>
                        </li>
                        <li>
                            <a href="" ui-sref="app.snapshot">
                                <span>Snapshots</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="_600 text-u-c m-y-sm">Images</div>
            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav l-h-2x">
                        <li>
                            <a href="" ui-sref="app.image"><span>Manage AMIs</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
