<div class="dropdown-menu dropdown-menu-scale p-a text-color text-primary-hover" style="width: 38%; margin-left: 20%">
  <div class="row">
    <div class="col-sm-6">
      <div class="_600 text-u-c m-y-sm">Schedulers </div>
      <div class="row">
        <div class="col-xs-12">
          <ul class="nav l-h-2x">
            <li>
              <a href="" ui-sref="app.scheduler"><span>Instance Schedulers</span></a>
            </li>
            <li>
              <a href="" ui-sref="app.snapshotScheduler"><span>Snapshot Schedulers</span></a>
            </li>
          </ul>
        </div>

      </div>
    </div>

    <div class="col-sm-6">
      <div class="_600 text-u-c m-y-sm">Schedule </div>
      <div class="row">


        <div class="col-xs-12">
          <ul class="nav l-h-2x">
            <li>
              <a href="" ui-sref="app.scheduleInstance"><span>Schedule Instances</span></a>
            </li>
            <li>
              <a href="" ui-sref="app.scheduleSnapshot"><span>Schedule Snapshots</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
