<div class="footer p-a-md">
	<div class="row">
		<div class="col-sm-2 clearfix">
			<div>ZehnCA</div>
		</div>
		<div class="col-sm-8">
			<div class="text-sm-center text-xs-left m-y">
				<div class="nav text-sm">
					<a class="nav-link m-r" href="http://zehnca.com">
	                <span>Home</span> 
	              </a>
	              <a class="nav-link m-r" href>
	                <span>Blog</span> 
	              </a>
	              <a class="nav-link m-r" href>
	                <span>Service</span> 
	              </a>
	              <a class="nav-link m-r" href>
	                <span>About us</span> 
	              </a>
	              <a class="nav-link m-r" href>
	                <span>Contact</span> 
	              </a>
		        </div>
		    </div>
	    </div>
        <div class="col-sm-2">
        	<div class="pull-right pull-none-xs inline m-y">
				<a target="_blank"  href="http://facebook.com/zehntech" class="btn btn-icon btn-social rounded btn-sm white">
					<i class="fa fa-facebook"></i>
					<i class="fa fa-facebook indigo"></i>
				</a>
				<a target="_blank" href="https://twitter.com/zehntech" class="btn btn-icon btn-social rounded btn-sm white">
					<i class="fa fa-twitter"></i>
					<i class="fa fa-twitter light-blue"></i>
				</a>
				<a target="_blank" href="http://linkedin.com/zehntech" class="btn btn-icon btn-social rounded btn-sm white">
					<i class="fa fa-linkedin"></i>
					<i class="fa fa-linkedin red"></i>
				</a>
			</div>
		</div>
	</div>
	<div class="b b-b m-y"></div>
	<div class="text-center">
		<small class="text-muted">&copy; Copyright 2015. All rights reserved.</small>
	</div>
</div>
