
  <!-- content -->
  <div id="content" class="app-content box-shadow-z0" role="main">
    <div class="app-header navbar-md white box-shadow">
      <div ui-include="'../views/layout/header.html'" data-ng-controller="HeaderCtrl"></div>
    </div>
    <div ui-view class="app-body" ng-class="{'container': app.setting.container}" id="view"></div>
    <div class="dark dk pos-rlt page-footer" ng-class="{'hide': $state.current.data.hideFooter}" data-ng-controller="FooterCtrl">
      <div class="p-md" >
        <div ui-include="'../views/blocks/footer.3.html'" ></div>
      </div>
    </div>
  </div>
  <!-- / -->

  <!-- theme switcher -->
  <div id="switcher">
    <div ui-include="'../views/layout/switcher.html'"></div>
  </div>
  <!-- / -->
